*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: Arial, Helvetica, sans-serif;
  background: rgb(56, 56, 56);

  h1{
    font-size: 8rem;
    
    p{
      color: red;
    }
  }
}